n8n/WF-03_welcome_email.json
{
  "name": "WF-03 — User Registration → Welcome Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-registered",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook /user-registered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ -480, 300 ],
      "webhookId": "geoscan-user-registered"
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait",
      "name": "Wait 5s (DB commit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ -240, 300 ],
      "webhookId": "geoscan-wf03-wait"
    },
    {
      "parameters": {
        "fromEmail": "Geoscan <no-reply@cosger.online>",
        "toEmail": "={{ $('Webhook /user-registered').item.json.body.email }}",
        "subject": "=Selamat datang di Geoscan, {{ $('Webhook /user-registered').item.json.body.full_name }}!",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:sans-serif;max-width:560px;margin:0 auto;color:#0D1117\">\n  <h2 style=\"color:#4493F8\">GEO<span style=\"color:#0D1117\">SCAN</span></h2>\n  <p>Halo {{ $('Webhook /user-registered').item.json.body.full_name }},</p>\n  <p>Terima kasih sudah bergabung dengan Geoscan — intelligence geopolitik prediktif yang menerjemahkan situasi global ke dampak portofolio Anda.</p>\n  <ul>\n    <li><b>Analisis 16 lapisan AI</b> untuk setiap situasi aktif</li>\n    <li><b>Skenario real-time</b> yang berubah saat tripwire terpicu</li>\n    <li><b>Dampak ke portofolio</b> Anda dalam bahasa sederhana</li>\n  </ul>\n  <p><a href=\"https://apigeo.cosger.online\" style=\"background:#4493F8;color:#fff;padding:10px 18px;border-radius:8px;text-decoration:none\">Buka aplikasi</a></p>\n  <p style=\"color:#6E7681;font-size:12px\">Anda menerima email ini karena mendaftar di Geoscan. <a href=\"https://apigeo.cosger.online/unsubscribe\">Berhenti berlangganan</a>.</p>\n</div>",
        "options": {}
      },
      "id": "email",
      "name": "Send welcome email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [ 0, 300 ],
      "credentials": { "smtp": { "id": "REPLACE_SMTP", "name": "smtpCredentials" } }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=🆕 New user: {{ $('Webhook /user-registered').item.json.body.email }} registered",
        "additionalFields": {}
      },
      "id": "tg",
      "name": "Telegram log",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 240, 300 ],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "telegramAdmin" } }
    }
  ],
  "connections": {
    "Webhook /user-registered": { "main": [ [ { "node": "Wait 5s (DB commit)", "type": "main", "index": 0 } ] ] },
    "Wait 5s (DB commit)": { "main": [ [ { "node": "Send welcome email", "type": "main", "index": 0 } ] ] },
    "Send welcome email": { "main": [ [ { "node": "Telegram log", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "geoscan" } ]
}
