n8n/WF-01_osint_news_ingestion.json
{
  "name": "WF-01 — OSINT News Ingestion",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] } },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -640, 300 ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=geopolitical%20military%20sanctions%20naval%20territorial%20dispute&hl=en-US&gl=US&ceid=US:en",
        "options": { "response": { "response": { "responseFormat": "text", "neverError": true } } }
      },
      "id": "rss",
      "name": "Google News RSS (free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -420, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Google News RSS XML -> articles[]\nconst xml = $input.first().json.data || $input.first().json.body || '';\nconst items = [...String(xml).matchAll(/<item>([\\s\\S]*?)<\\/item>/g)];\nconst seen = new Set();\nconst articles = [];\nfor (const m of items) {\n  const b = m[1];\n  const g = (re) => { const x = b.match(re); return x ? x[1] : ''; };\n  let title = g(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/);\n  const link = g(/<link>([\\s\\S]*?)<\\/link>/).trim();\n  const pub = g(/<pubDate>([\\s\\S]*?)<\\/pubDate>/);\n  const src = g(/<source[^>]*>([\\s\\S]*?)<\\/source>/) || 'Google News';\n  title = title.replace(/<[^>]+>/g, '').trim();\n  if (!link || seen.has(link)) continue;\n  seen.add(link);\n  articles.push({ title, source_name: src.trim() || 'Google News', url: link, content_summary: title, published_at: pub ? new Date(pub).toISOString() : new Date().toISOString(), language: 'en', credibility_score: 0.6 });\n}\nreturn [{ json: { articles: articles.slice(0, 50) } }];"
      },
      "id": "parse",
      "name": "Parse RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -200, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://geoscan-backend:8000/internal/news/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"articles\": $json.articles } }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ingest",
      "name": "POST /internal/news/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 20, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "geoscanIntKey01", "name": "geoscanInternalKey" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [ { "leftValue": "={{ $json.accepted }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } } ]
        }
      },
      "id": "if_ok",
      "name": "Accepted > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://geoscan-backend:8000/internal/tasks/scan-articles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"article_ids\": ($json.queued_ids || []) } }}",
        "options": {}
      },
      "id": "scan",
      "name": "Trigger AI scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 460, 220 ],
      "credentials": { "httpHeaderAuth": { "id": "geoscanIntKey01", "name": "geoscanInternalKey" } }
    }
  ],
  "connections": {
    "Every 15 min": { "main": [ [ { "node": "Google News RSS (free)", "type": "main", "index": 0 } ] ] },
    "Google News RSS (free)": { "main": [ [ { "node": "Parse RSS", "type": "main", "index": 0 } ] ] },
    "Parse RSS": { "main": [ [ { "node": "POST /internal/news/ingest", "type": "main", "index": 0 } ] ] },
    "POST /internal/news/ingest": { "main": [ [ { "node": "Accepted > 0?", "type": "main", "index": 0 } ] ] },
    "Accepted > 0?": { "main": [ [ { "node": "Trigger AI scan", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" }
}
