n8n/WF-04_daily_digest.json
{
  "name": "WF-04 — Daily Intelligence Digest (Pro)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 0 * * *" } ] }
      },
      "id": "schedule",
      "name": "00:00 UTC (07:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -640, 300 ]
    },
    {
      "parameters": {
        "url": "http://geoscan-backend:8000/internal/crises/active-ids",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "crises",
      "name": "Get active crises",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -420, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_INTERNAL", "name": "geoscanInternalKey" } }
    },
    {
      "parameters": {
        "url": "http://geoscan-backend:8000/internal/users/pro-with-portfolio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "users",
      "name": "Get pro users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -200, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_INTERNAL", "name": "geoscanInternalKey" } }
    },
    {
      "parameters": {
        "jsCode": "// Flatten the users array into one item per user\nconst arr = Array.isArray($json) ? $json : ($json.data || $json.users || []);\nreturn arr.map(u => ({ json: u }));"
      },
      "id": "split",
      "name": "Split users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 20, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [ {
            "leftValue": "={{ $json.portfolio_count }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          } ]
        }
      },
      "id": "filter",
      "name": "portfolio_count > 0",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "fromEmail": "Geoscan <no-reply@cosger.online>",
        "toEmail": "={{ $json.email }}",
        "subject": "📊 Geoscan — Ringkasan Intelligence Harian",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:sans-serif;max-width:560px;margin:0 auto\">\n  <h3 style=\"color:#4493F8\">Ringkasan Intelligence Harian</h3>\n  <p>Situasi aktif yang dipantau hari ini:</p>\n  <ul>{{ ($('Get active crises').first().json || []).map(c => '<li>' + (c.title || c.id) + '</li>').join('') }}</ul>\n  <p>Buka aplikasi untuk melihat probabilitas skenario terbaru dan dampak ke portofolio Anda.</p>\n  <p style=\"color:#6E7681;font-size:12px\">Bukan nasihat keuangan. Output bersifat edukatif & probabilistik.</p>\n</div>",
        "options": {}
      },
      "id": "email",
      "name": "Send digest email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [ 460, 300 ],
      "credentials": { "smtp": { "id": "REPLACE_SMTP", "name": "smtpCredentials" } }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=📊 Daily digest terkirim ke {{ $runIndex + 1 }} user(s)",
        "additionalFields": {}
      },
      "id": "tg",
      "name": "Telegram log",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 680, 300 ],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "telegramAdmin" } }
    }
  ],
  "connections": {
    "00:00 UTC (07:00 WIB)": { "main": [ [ { "node": "Get active crises", "type": "main", "index": 0 } ] ] },
    "Get active crises": { "main": [ [ { "node": "Get pro users", "type": "main", "index": 0 } ] ] },
    "Get pro users": { "main": [ [ { "node": "Split users", "type": "main", "index": 0 } ] ] },
    "Split users": { "main": [ [ { "node": "portfolio_count > 0", "type": "main", "index": 0 } ] ] },
    "portfolio_count > 0": { "main": [ [ { "node": "Send digest email", "type": "main", "index": 0 } ] ] },
    "Send digest email": { "main": [ [ { "node": "Telegram log", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "geoscan" } ]
}
