n8n/WF-07_health_check.json
{
  "name": "WF-07 — System Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 5 } ] }
      },
      "id": "schedule",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -640, 300 ]
    },
    {
      "parameters": {
        "url": "http://geoscan-backend:8000/health",
        "options": {
          "timeout": 10000,
          "response": { "response": { "neverError": true, "fullResponse": true } }
        }
      },
      "id": "health",
      "name": "GET /health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -420, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten fullResponse → status flags (degraded/unreachable safe)\nconst r = $json || {};\nconst body = r.body || r;\nconst code = r.statusCode || 0;\nconst reachable = code >= 200 && code < 500 && body && typeof body === 'object';\nreturn [{ json: {\n  reachable,\n  status: reachable ? (body.status || 'unknown') : 'unreachable',\n  db: reachable ? !!body.db : false,\n  redis: reachable ? !!body.redis : false,\n  celery_workers: reachable ? (body.celery_workers || 0) : 0\n}}];"
      },
      "id": "flat",
      "name": "Flatten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -200, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "ok", "operator": { "type": "string", "operation": "notEquals" } },
            { "leftValue": "={{ $json.db }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } },
            { "leftValue": "={{ $json.redis }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ]
        }
      },
      "id": "if_down",
      "name": "Unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 20, 300 ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=🚨 GEOSCAN HEALTH: status={{ $json.status }} | DB={{ $json.db }} | Redis={{ $json.redis }} | Celery={{ $json.celery_workers }} | {{ $now }}",
        "additionalFields": {}
      },
      "id": "tg_warn",
      "name": "Telegram alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 240, 200 ],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "telegramAdmin" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.db }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } },
            { "leftValue": "={{ $json.redis }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ]
        }
      },
      "id": "if_critical",
      "name": "DB/Redis down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 460, 200 ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=❌ CRITICAL: Database/Redis tidak bisa diakses! Segera cek server!",
        "additionalFields": {}
      },
      "id": "tg_crit",
      "name": "Telegram CRITICAL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 680, 120 ],
      "credentials": { "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "telegramAdmin" } }
    }
  ],
  "connections": {
    "Every 5 min": { "main": [ [ { "node": "GET /health", "type": "main", "index": 0 } ] ] },
    "GET /health": { "main": [ [ { "node": "Flatten", "type": "main", "index": 0 } ] ] },
    "Flatten": { "main": [ [ { "node": "Unhealthy?", "type": "main", "index": 0 } ] ] },
    "Unhealthy?": { "main": [ [ { "node": "Telegram alert", "type": "main", "index": 0 } ], [] ] },
    "Telegram alert": { "main": [ [ { "node": "DB/Redis down?", "type": "main", "index": 0 } ] ] },
    "DB/Redis down?": { "main": [ [ { "node": "Telegram CRITICAL", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "name": "geoscan" } ]
}
