n8n/WF-05_market_sync.json
{
  "name": "WF-05 — Market Data Sync",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] } },
      "id": "schedule",
      "name": "Every 1 hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -680, 300 ]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd&include_24hr_change=true",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "cg",
      "name": "CoinGecko (crypto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -460, 300 ]
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "fx",
      "name": "FX (er-api)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -240, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Combine CoinGecko + FX into market rows\nconst cg = $('CoinGecko (crypto)').first().json || {};\nconst fx = $('FX (er-api)').first().json || {};\nconst now = new Date().toISOString();\nconst rows = [];\nconst push = (symbol, price, chg) => { if (price != null && !isNaN(price)) rows.push({ symbol, price: Number(price), change_pct: Number((chg || 0).toFixed ? chg.toFixed(2) : chg) || 0, volume: 0, timestamp: now }); };\nif (cg.bitcoin) push('BTC-USD', cg.bitcoin.usd, cg.bitcoin.usd_24h_change);\nif (cg.ethereum) push('ETH-USD', cg.ethereum.usd, cg.ethereum.usd_24h_change);\nconst r = fx.rates || {};\nif (r.IDR) push('USD/IDR', r.IDR, 0);\nif (r.CNY) push('USD/CNY', r.CNY, 0);\nif (r.JPY) push('USD/JPY', r.JPY, 0);\nreturn [{ json: { data: rows } }];"
      },
      "id": "norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -20, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://geoscan-backend:8000/internal/market/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "update",
      "name": "POST /internal/market/update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 200, 300 ],
      "credentials": { "httpHeaderAuth": { "id": "geoscanIntKey01", "name": "geoscanInternalKey" } }
    }
  ],
  "connections": {
    "Every 1 hour": { "main": [ [ { "node": "CoinGecko (crypto)", "type": "main", "index": 0 } ] ] },
    "CoinGecko (crypto)": { "main": [ [ { "node": "FX (er-api)", "type": "main", "index": 0 } ] ] },
    "FX (er-api)": { "main": [ [ { "node": "Normalize", "type": "main", "index": 0 } ] ] },
    "Normalize": { "main": [ [ { "node": "POST /internal/market/update", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
